{%extends "base.html"%}
{%load static%}
{% block title %}{{object.name}} | {{block.super}} {% endblock %}

{%block metatag%}
    <meta name="twitter:title" content="{{object.name}}" />
    <meta property="og:title" content="{{object.name}}" />
    <meta name="description" content="{{object.name}}"/>
    <meta name="twitter:description" content="{{object.remarks}}" />
    <meta property="og:description" content="{{object.remarks}}" />
    <meta property="og:url" content="{{object.get_absolute_url}}" />
    <meta name="twitter:domain" content="{{object.get_absolute_url}}" />
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{%endblock metatag%}

{%block content%}
<div class="col-xs-12">
    <div class="col-xs-12 col-md-5">
        {%if object.rank%}
            <div id="generic_rank">
            <span class="glyphicon glyphicon-flash"></span>{{object.get_rank_display}} 
        </div>
        {%endif%}
        <div id="generic_heading">{{object.name}}</div>
        <div id="generic_info">
            <p class="generic_card_info2">{{object.get_gender_display}}</p>
            <p class="generic_card_info1">{%if object.dob%}{{object.dob}}{%endif%}</p>
            <p class="generic_country"><i class="flag2x {{ object.country.flag_css }}"></i><span>{{object.get_country_display}}</span></p>
            <p><a href="{%if object.insta%}{{object.insta}}{%endif%}" target='_blank'>{%if object.insta%}{{object.insta}}{%endif%}</a></p>
            <p>{%if object.is_private%}<span id="private">This is kept private</span>{%endif%}</p>
        </div>
    </div>

    <div class="col-xs-12 col-md-7" id="generic_img">
        <img src="{{object.image.url}}" alt="{{object.name}}">
        <p id='generic_img_link'><a href="{{object.image.url}}" target='_blank'>To view the full image, click here</a></p>
    </div>

    <div id="generic_extra" class="col-xs-12 ">
        {%if request.user == object.owner%}
        <div id="generic_buttons">
            <button class="generic_edit">
                <a href='{% url "things:edit_actor" object.id object.slug %}'><span class="glyphicon glyphicon-edit"></span> Edit this page</a>
            </button>
            <button class="generic_edit">
                <a href='{% url "things:del_actor" object.id object.slug %}'><span class="glyphicon glyphicon-trash"></span> Delete this page</a>
            </button>
        </div>
        {%else%}
        <div class="generic_creator">
            <h4>Created by <a href="{%url 'things:user' object.owner%}">{{object.owner}}</a> at {{object.timestamp}}</h4>
        </div>
        {%endif%}
    </div>
</div>

{%if object.movie_set.all.count == 0%}
    <div>
        <div class="col-xs-12" id="generic_empty">
            <img src="/media/empty.png" alt="Ain't nothing in here." width="100%">
            <h2>We couldn't find any Movies of this actor in your movie collection.</h2>
        </div> 
    </div>
{%else%}
    <div><h1>Movies where {{object.name}} appears in</h1></div>
{%endif%}

{% for movie in object.movie_set.all %}
<a class="generic_subset_link" href={{movie.get_absolute_url}}>
    <div class="col-xs-12">
        <h2>{{movie.name}}</h2>
    </div>
</a>
{%endfor%}
{%endblock content%}