{%extends "base.html"%}
{%load static%}
{% block title %}Actors | {{block.super}} {% endblock %}

{%block metatag%}
    <meta property="og:title" content="Actors" />
    <meta name="twitter:title" content="Actors" />
    <meta name="description" content="Actor List"/>
    <meta name="twitter:description" content="Actor List" />
    <meta property="og:description" content="Actor List" />
    <meta property="og:url" content="likelist.pythonanywhere.com/actors/" />
    <meta name="twitter:domain" content="likelist.pythonanywhere.com/actors/" />
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{%endblock%}

{%block content%}
<div id="generic_list_heading" class="col-xs-12">
	<h1>Actor List</h1>
</div>
{%include 'pagination1.html'%}

{% for obj in object_list %}
    {%include 'things/snippets/actors.html'%}
{%endfor%}

{%include 'pagination2.html'%}

{%endblock content%}