{%extends "base.html"%}
{%load static%}
{% block title %}Home | {{block.super}} {% endblock %}

{%block metatag%}
    <meta property="og:title" content="Home Page" />
    <meta name="twitter:title" content="Home Page" />
    <meta name="description" content="Home Page"/>
    <meta name="twitter:description" content="Home Page" />
    <meta property="og:description" content="Home Page" />
    <meta property="og:url" content="likelist.pythonanywhere.com/" />
    <meta name="twitter:domain" content="likelist.pythonanywhere.com/" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{%endblock%}

{%block content%}
<div id="things_heading" class="col-xs-12">
	<h1>What they like</h1>
</div>

<div class="col-xs-12 generic_section">
    <h2>Actors</h2>
    {% for obj in actor_list %}
        {%include 'things/snippets/actors.html'%}
    {%endfor%}

    {%if actor_list.count == 5%}
        <a href="{%url 'things:actors'%}" class="generic_card_link">View all</a>
    {%else%}
        <p>. <a href="{url 'things:new_actor'}">Create</a> new to fill this section up.</p>
    {%endif%}
</div>

<div class="col-xs-12 generic_section">
    <h2>Vehicle List</h2>
    {% for obj in vehicle_list %}
        {%include 'things/snippets/vehicles.html'%}
    {%endfor%}

    {%if vehicle_list.count == 5%}
    <a href="{%url 'things:vehicles'%}" class="generic_card_link">View all</a>
    {%else%}
        <p>.<a href="{url 'things:new_vehicle'}">Create</a> new to fill this section up.</p>
    {%endif%}
</div>

{%endblock content%}