{%extends "base.html"%}
{%load static%}
{% block title %}Home | {{block.super}} {% endblock %}

{%block metatag%}
    <meta property="og:title" content="Home Page" />
    <meta name="twitter:title" content="Home Page" />
    <meta name="description" content="Home Page"/>
    <meta name="twitter:description" content="Home Page" />
    <meta property="og:description" content="Home Page" />
    <meta property="og:url" content="likelist.pythonanywhere.com/" />
    <meta name="twitter:domain" content="likelist.pythonanywhere.com/" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{%endblock%}

{%block content%}
<div id="things_heading" class="col-xs-12">
	<h1>What they like</h1>
</div>

<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-star" aria-hidden="true"></i> Actors</h2>
    {% for obj in actor_list %}
        {%include 'things/snippets/actors.html'%}
    {%endfor%}

    {%if actor_list.count == 5%}
    <div class="col-xs-12 col-md-6">
        <a href="{%url 'things:actors'%}" class="generic_card_more">View all <i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
    {%else%}
    <div class="col-xs-12">
        <p class="col-xs-12"><a href="{%url 'things:new_actor'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create</a> new to fill this section up.</p>
    {%endif%}
    </div>
</div>

<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-car" aria-hidden="true"></i> Vehicles</h2>
    {% for obj in vehicle_list %}
        {%include 'things/snippets/vehicles.html'%}
    {%endfor%}

    
    {%if vehicle_list.count == 5%}
    <div class="col-xs-12 col-md-6">
        <a href="{%url 'things:vehicles'%}" class="generic_card_more">View all <i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
    {%else%}
    <div class="col-xs-12">
        <p class="col-xs-12"><a href="{%url 'things:new_vehicle'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create</a> new to fill this section up.</p>
    {%endif%}
    </div>
</div>


<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-music" aria-hidden="true"></i> Musicians</h2>
    {% for obj in musician_list %}
        {%include 'things/snippets/musicians.html'%}
    {%endfor%}

    
    {%if musician_list.count == 5%}
    <div class="col-xs-12 col-md-6">
        <a href="{%url 'things:musicians'%}" class="generic_card_more">View all <i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
    {%else%}
    <div class="col-xs-12">
        <p class="col-xs-12"><a href="{%url 'things:new_musician'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create</a> new to fill this section up.</p>
    {%endif%}
    </div>
</div>

<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-film" aria-hidden="true"></i> Movies</h2>
    {% for obj in movie_list %}
        {%include 'things/snippets/movies.html'%}
    {%endfor%}

    
    {%if movie_list.count == 5%}
    <div class="col-xs-12 col-md-6">
        <a href="{%url 'things:movies'%}" class="generic_card_more">View all <i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
    {%else%}
    <div class="col-xs-12">
        <p class="col-xs-12"><a href="{%url 'things:new_movie'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create</a> new to fill this section up.</p>
    {%endif%}
    </div>
</div>

<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-tv" aria-hidden="true"></i> TV Shows</h2>
    {% for obj in tvshow_list %}
        {%include 'things/snippets/tvshows.html'%}
    {%endfor%}

    
    {%if tvshow_list.count == 5%}
    <div class="col-xs-12 col-md-6">
        <a href="{%url 'things:tvshows'%}" class="generic_card_more">View all <i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
    {%else%}
    <div class="col-xs-12">
        <p class="col-xs-12"><a href="{%url 'things:new_tvshow'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create</a> new to fill this section up.</p>
    {%endif%}
    </div>
</div>

<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-play-circle" aria-hidden="true"></i> Anime</h2>
    {% for obj in anime_list %}
        {%include 'things/snippets/animes.html'%}
    {%endfor%}

    
    {%if anime_list.count == 5%}
    <div class="col-xs-12 col-md-6">
        <a href="{%url 'things:animes'%}" class="generic_card_more">View all <i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
    {%else%}
    <div class="col-xs-12">
        <p class="col-xs-12"><a href="{%url 'things:new_anime'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create</a> new to fill this section up.</p>
    {%endif%}
    </div>
</div>

{%endblock content%}