{%extends "base.html"%}
{% block title %}{{object.name}} | {{block.super}} {% endblock %}

{%block metatag%}
    <meta name="twitter:title" content="{{object.name}}" />
    <meta property="og:title" content="{{object.name}}" />
    <meta name="description" content="{{object.name}}"/>
    <meta name="twitter:description" content="{{object.remarks}}" />
    <meta property="og:description" content="{{object.remarks}}" />
    <meta property="og:url" content="{{object.get_absolute_url}}" />
    <meta name="twitter:domain" content="{{object.get_absolute_url}}" />
{%endblock metatag%}

{%block content%}
<div class="col-xs-12">
    <div class="col-xs-12 col-md-3">
        {%if request.user == object.owner%}
        {%if object.rank%}
        <div id="generic_rank">
            <i class="fa fa-bolt" aria-hidden="true"></i>{{object.get_rank_display}} 
        </div>
        {%endif%}
        {%endif%}
        <div id="generic_heading">{{object.name}}</div>
        <div id="generic_info">
            <h4>{{object.year}}</h4>
            <br>
            <p class="generic_card_info1">
            {%for g in object.genre.all%}
                <span class="generic_genre">{{g.name}}</span>
            {%endfor%}
            </p><br>
            <p class="generic_card_info2"><span>{{object.get_watch_status_display}}</span></p>
            {%if object.remarks%}
            <h3><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> {{object.remarks}} <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup></h3>
            {%endif%}
            <p>{%if object.is_private%}<span id="private">This is kept private</span>{%endif%}</p>
        </div>
        <div id="generic_extra" class="col-xs-12 ">
            {%if request.user == object.owner%}
            <div id="generic_buttons">
                <button class="generic_edit">
                    <a href='{% url "things:edit_movie" object.id object.slug %}'><i class="fa fa-edit" aria-hidden="true"></i> Edit this page</a>
                </button>
                <button class="generic_edit">
                    <a href='{% url "things:del_movie" object.id object.slug %}'><i class="fa fa-trash" aria-hidden="true"></i> Delete this page</a>
                </button>
            </div>
            {%else%}
            <div class="generic_creator">
                <h5>Created by <a href="{%url 'things:user' object.owner%}">{{object.owner}}</a> at <i class="fa fa-clock" aria-hidden="true"></i> {{object.timestamp}}</h5>
            </div>
            {%endif%}
        </div>
    </div>

    <div class="col-xs-12 col-md-9" id="generic_img">
        <img src="{{object.poster}}" alt="{{object.name}}">
        <p id='generic_img_link'><a href="{{object.poster}}" target='_blank'><i class="fa fa-picture-o" aria-hidden="true"></i> To view the full image, click here</a></p>
    </div>
</div>

<div class="generic_subset_section col-xs-12">
    <p>{%if object.director%}Directed by: {{object.director}}{%endif%}</p>
    
    {%if object.starring.all.count == 0%}
    <div class="col-xs-12" id="generic_empty">
        <img src="/media/empty.png" alt="Ain't nothing in here." width="100%">
        <h2>We couldn't find any Actors of this movie in your collection.</h2>
        <h3><a class='add_more' href="{%url 'things:new_actor'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create</a></h3>
    </div>
    {%else%}
        <div class="col-xs-12">
            <h2><i class="fa fa-film" aria-hidden="true"></i> actors who appeared in {{object.name}}</h2>
        </div>
    {%endif%}

    {% for actor in object.starring.all %}
    <a class="generic_subset_link" href={{actor.get_absolute_url}}>
        <div class="col-xs-12">
            <h3>{{actor.name}}</h3>
        </div>
    </a>
    {%endfor%}
</div>
{%endblock content%}