{%extends "base.html"%}
{%load static%}
{% block title %}{{request.user}} Profile Page | {{block.super}} {% endblock %}

{%block metatag%}
    <meta property="og:title" content="Profile Page" />
    <meta name="twitter:title" content="Profile Page" />
    <meta name="description" content="Profile Page"/>
    <meta name="twitter:description" content="Profile Page" />
    <meta property="og:description" content="Profile Page" />
    <meta property="og:url" content="likelist.pythonanywhere.com/profile/" />
    <meta name="twitter:domain" content="likelist.pythonanywhere.com/profile/" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{%endblock%}
{%block precontent%}
<div id="generic_profile_banner" style="background-image: url(http://placehold.it/1000x180&text=@{{object.slug}})">
    <div id="generic_profile_photo">
        <img src="https://dummyimage.com/150x150/05112e/9ff5f2.jpg&text={{object.get_initials}}" alt="" width="100%">
    </div>
</div>
{%endblock precontent%}

{%block content%}
<div id="things_heading" class="col-xs-12">
    <h1>{{object.owner}}</h1>
    <p>{%if object.first_name%}{{object.first_name}}{%endif%} {%if object.last_name%}{{object.last_name}}{%endif%}</p>
    <p>{%if object.dob%}<i class="fa fa-birthday-cake" aria-hidden="true"></i> Date of Birth: {{object.dob|date:"d M"}}{%endif%}</p>
    <p>Joined: {{object.timestamp|date:"d M Y"}}</p>
</div>

{%if request.user == object.owner%}
<br>
<div id="generic_buttons" class="col-xs-12">
    <button class="generic_edit">
        <a href='{% url "things:edit_profile" object.id object.slug %}'><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile</a>
    </button>
    <button class="generic_edit">
        <a href='{% url "things:edit_settings" object.id object.slug %}'><i class="fa fa-wrench" aria-hidden="true"></i> Edit Settings</a>
    </button>
</div>
<br>
{%endif%}


<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-star" aria-hidden="true"></i> Actors <span>{{object.owner.actor_set.all.count}}</span></h2>
    {% for obj in object.owner.actor_set.all %}
        {%include 'things/snippets/actors.html'%}
    {%empty%}
        <p>Nothing here.</p>
    {%endfor%}
    <p class="col-xs-12"><a href="{%url 'things:new_actor'%}"><i class="fa fa-plus" aria-hidden="true"></i> Add</a> an actor.</p>
</div>


<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-car" aria-hidden="true"></i> Vehicles <span>{{object.owner.vehicle_set.all.count}}</span></h2>
    {% for obj in object.owner.vehicle_set.all %}
        {%include 'things/snippets/vehicles.html'%}
    {%empty%}
        <p>Nothing here.</p>
    {%endfor%}
    <p class="col-xs-12"><a href="{%url 'things:new_vehicle'%}"><i class="fa fa-plus" aria-hidden="true"></i> Add</a> a car or a bike.</p>
</div>


<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-music" aria-hidden="true"></i> Musicians <span>{{object.owner.musician_set.all.count}}</span></h2>
    {% for obj in object.owner.musician_set.all %}
        {%include 'things/snippets/musicians.html'%}
    {%empty%}
        <p>Nothing here.</p>
    {%endfor%}
    <p class="col-xs-12"><a href="{%url 'things:new_musician'%}"><i class="fa fa-plus" aria-hidden="true"></i> Add</a> a band or a solo artist.</p>
</div>


<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-film" aria-hidden="true"></i> Movies <span>{{object.owner.movie_set.all.count}}</span></h2>
    {% for obj in object.owner.movie_set.all %}
        {%include 'things/snippets/movies.html'%}
    {%empty%}
        <p>Nothing here.</p>
    {%endfor%}
    <p class="col-xs-12"><a href="{%url 'things:new_movie'%}"><i class="fa fa-plus" aria-hidden="true"></i> Add</a> a movie you watched or want to watch.</p>
</div>

<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-tv" aria-hidden="true"></i> TV Shows <span>{{object.owner.tvshow_set.all.count}}</span></h2>
    {% for obj in object.owner.tvshow_set.all %}
        {%include 'things/snippets/tvshows.html'%}
    {%empty%}
        <p>Nothing here.</p>
    {%endfor%}
    <p class="col-xs-12"><a href="{%url 'things:new_tvshow'%}"><i class="fa fa-plus" aria-hidden="true"></i> Add</a> a tv show you watched or want to watch.</p>
</div>

<div class="col-xs-12 generic_section">
    <h2><i class="fa fa-play-circle" aria-hidden="true"></i> Animes <span>{{object.owner.anime_set.all.count}}</span></h2>
    {% for obj in object.owner.anime_set.all %}
        {%include 'things/snippets/animes.html'%}
    {%empty%}
        <p>Nothing here.</p>
    {%endfor%}
    <p class="col-xs-12"><a href="{%url 'things:new_anime'%}"><i class="fa fa-plus" aria-hidden="true"></i> Add</a> an anime you watched or want to watch.</p>
</div>
    
{%endblock content%}