{%extends "base.html"%}
{% block title %}{{request.user}} Profile Page | {{block.super}} {% endblock %}

{%block metatag%}
    <meta property="og:title" content="Profile Page" />
    <meta name="twitter:title" content="Profile Page" />
    <meta name="description" content="Profile Page"/>
    <meta name="twitter:description" content="Profile Page" />
    <meta property="og:description" content="Profile Page" />
    <meta property="og:url" content="likelist.pythonanywhere.com/profile/" />
    <meta name="twitter:domain" content="likelist.pythonanywhere.com/profile/" />
    <meta name="keywords" content="" />
{%endblock%}

{%block content%}
<div id="things_heading" class="col-xs-12">
    <h1>{{object.owner}}</h1>
    <p>{%if object.first_name%}{{object.first_name}}{%endif%} {%if object.last_name%}{{object.last_name}}{%endif%}</p>
    <p>{%if object.dob%}{{object.dob}}{%endif%}</p>
</div>

{%if request.user == object.owner%}
<br>
<div id="generic_buttons" class="col-xs-12">
    <button class="generic_edit">
        <a href='{% url "things:edit_profile" object.id object.slug %}'>Edit Profile</a>
    </button>
    <button class="generic_edit">
        <a href='{% url "things:edit_settings" object.id object.slug %}'>Edit Settings</a>
    </button>
</div>
<br>
{%endif%}

<div class="col-xs-12">
    <h2>Actors</h2>
    {% for obj in object.owner.actor_set.all %}
        {%include 'things/snippets/actors.html'%}
    {%endfor%}
</div>

<div class="col-xs-12">
    <h2>Vehicles</h2>
    {% for obj in object.owner.vehicle_set.all %}
        {%include 'things/snippets/vehicles.html'%}
    {%endfor%}
</div>

{%endblock content%}