{%extends "base.html"%}
{%load static%}
{% block title %}{{uprofile.slug}} | User Profile Page | {{block.super}} {% endblock %}

{%block metatag%}
    <meta property="og:title" content="{{uprofile.slug}} - User Profile Page" />
    <meta name="twitter:title" content="{{uprofile.slug}} - User Profile Page" />
    <meta name="description" content="{{uprofile.slug}} - User Profile Page"/>
    <meta name="twitter:description" content="{{uprofile.slug}} - User Profile Page" />
    <meta property="og:description" content="{{uprofile.slug}} - User Profile Page" />
    <meta property="og:url" content="likelist.pythonanywhere.com/user/{{uprofile.slug}}" />
    <meta name="twitter:domain" content="likelist.pythonanywhere.com/user/{{uprofile.slug}}" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{%endblock%}

{%block content%}
<div id="things_heading" class="col-xs-12">
    <h1>{{uprofile.slug}}</h1>
    <p>{%if uprofile.first_name%}{{uprofile.first_name}}{%endif%} {%if uprofile.last_name%}{{uprofile.last_name}}{%endif%}</p>
    <p>{%if uprofile.dob%}Date of Birth: {{uprofile.dob|date:"d M"}}{%endif%}</p>
    <p>Joined: {{uprofile.timestamp|date:"d M Y"}}</p>
</div>
<!-- <button class="generic_edit">
    <a href=''>Follow</a>
</button> -->
<div class="col-xs-12">
    <h2>Actors</h2>
    {% for obj in uprofile.owner.actor_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/actors.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>

<div class="col-xs-12">
    <h2>Vehicle</h2>
    {% for obj in uprofile.owner.vehicle_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/vehicles.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>

<div class="col-xs-12">
    <h2>Musician</h2>
    {% for obj in uprofile.owner.musician_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/musicians.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>

{%endblock content%}