{%extends "base.html"%}
{%load static%}
{% block title %}{{uprofile.slug}} | User Profile Page | {{block.super}} {% endblock %}

{%block metatag%}
    <meta property="og:title" content="{{uprofile.slug}} - User Profile Page" />
    <meta name="twitter:title" content="{{uprofile.slug}} - User Profile Page" />
    <meta name="description" content="{{uprofile.slug}} - User Profile Page"/>
    <meta name="twitter:description" content="{{uprofile.slug}} - User Profile Page" />
    <meta property="og:description" content="{{uprofile.slug}} - User Profile Page" />
    <meta property="og:url" content="likelist.pythonanywhere.com/user/{{uprofile.slug}}" />
    <meta name="twitter:domain" content="likelist.pythonanywhere.com/user/{{uprofile.slug}}" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{%endblock%}

{%block precontent%}
<div id="generic_profile_banner" style="background-image: url(http://placehold.it/1000x180&text=@{{uprofile.slug}})">
    <div id="generic_profile_photo">
        <img src="https://dummyimage.com/150x150/05112e/9ff5f2.jpg&text={{uprofile.get_initials}}" alt="" width="100%">
    </div>
</div>
{%endblock precontent%}


{%block content%}
<div id="things_heading" class="col-xs-12">
    <h1>{{uprofile.slug}}</h1>
    <p>{%if uprofile.first_name%}{{uprofile.first_name}}{%endif%} {%if uprofile.last_name%}{{uprofile.last_name}}{%endif%}</p>
    <p>{%if uprofile.dob%}Date of Birth: {{uprofile.dob|date:"d M"}}{%endif%}</p>
    <p>Joined: {{uprofile.timestamp|date:"d M Y"}}</p>
</div>
<!-- <button class="generic_edit">
    <a href=''>Follow</a>
</button> -->
<div class="col-xs-12" id="actors_section">
    <h2><i class="fa fa-star" aria-hidden="true"></i> Actors</h2>
    {% for obj in uprofile.owner.actor_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/actors.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>

<div class="col-xs-12" id="books_section">
    <h2><i class="fa fa-book" aria-hidden="true"></i> Books</h2>
    {% for obj in uprofile.owner.book_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/books.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>
 

<div class="col-xs-12" id="musicians_section">
    <h2><i class="fa fa-music" aria-hidden="true"></i> Musicians</h2>
    {% for obj in uprofile.owner.musician_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/musicians.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>

<div class="col-xs-12" id="songs_section">
    <h2><i class="fa fa-heartbeat" aria-hidden="true"></i> Songs</h2>
    {% for obj in uprofile.owner.song_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/songs.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>

<div class="col-xs-12" id="movies_section">
    <h2><i class="fa fa-film" aria-hidden="true"></i> Movies</h2>
    {% for obj in uprofile.owner.movie_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/movies.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>

<div class="col-xs-12" id="tvshows_section">
    <h2><i class="fa fa-tv" aria-hidden="true"></i> Movies</h2>
    {% for obj in uprofile.owner.tvshow_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/tvshows.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>
<div class="col-xs-12" id="animes_section">
    <h2><i class="fa fa-play-circle" aria-hidden="true"></i> Animes</h2>
    {% for obj in uprofile.owner.anime_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/animes.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>

<div class="col-xs-12" id="vehicles_section">
    <h2><i class="fa fa-car" aria-hidden="true"></i> Vehicles</h2>
    {% for obj in uprofile.owner.vehicle_set.all %}
        {%if not obj.is_private%}
        {%include 'things/snippets/vehicles.html'%}
        {%endif%}
    {%empty%}
        <p>Nothing here</p>
    {%endfor%}
</div>
{%endblock content%}