{%extends "base.html"%}
{%load static%}
{% block title %}{{object.name}} | {{block.super}} {% endblock %}

{%block metatag%}
    <meta name="twitter:title" content="{{object.name}}" />
    <meta property="og:title" content="{{object.name}}" />
    <meta name="description" content="{{object.name}}"/>
    <meta name="twitter:description" content="{{object.remarks}}" />
    <meta property="og:description" content="{{object.remarks}}" />
    <meta property="og:url" content="{{object.get_absolute_url}}" />
    <meta name="twitter:domain" content="{{object.get_absolute_url}}" />
{%endblock metatag%}

{%block content%}
<div class="col-xs-12">
    <div class="col-xs-12 col-md-5">
        <div id="generic_heading">{{object.name}}</div>
        <div id="generic_info">
            <p class="generic_card_info2">{{object.get_vehicle_type_display}}</p>
            <p class="generic_card_info1">{{object.company}}</p>
            <p>{%if object.is_private%}<span id="private">This is kept private</span>{%endif%}</p>
        </div>
    </div>

    <div class="col-xs-12 col-md-7" id="generic_img">
        <img src="{%if object.image_url%}{{object.image_url}}{%endif%}"  alt="{{object.name}}" width="100%" height="500px" style="object-fit: cover;object-position: top;">
    </div>
</div>
{%if request.user == object.owner%}
    <div id="generic_buttons">
        <button class="generic_edit">
            <a href='{% url "things:edit_vehicle" object.id object.slug %}'>Edit this page</a>
        </button>
        <button class="generic_edit">
            <a href='{% url "things:del_vehicle" object.id object.slug %}'>Delete this page</a>
        </button>
    </div>
    {%else%}
    <div class="generic_creator">
        <h4>Created by <a href="{%url 'things:user' object.owner%}">{{object.owner}}</a> at {{object.timestamp}}</h4>
    </div>
{%endif%}
{%endblock content%}