{%extends "base.html"%}
{%load static%}
{% block title %}Vehicles | {{block.super}} {% endblock %}

{%block metatag%}
    <meta property="og:title" content="Vehicles" />
    <meta name="twitter:title" content="Vehicles" />
    <meta name="description" content="Vehicle List"/>
    <meta name="twitter:description" content="Vehicle List" />
    <meta property="og:description" content="Vehicle List" />
    <meta property="og:url" content="likelist.pythonanywhere.com/actors/" />
    <meta name="twitter:domain" content="likelist.pythonanywhere.com/actors/" />
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{%endblock%}

{%block content%}
<div id="generic_list_heading" class="col-xs-12">
	<h1>Vehicle List</h1>
</div>
{%include 'pagination2.html'%}

{% for obj in object_list %}
    {%include 'things/snippets/vehicles.html'%}
{%empty%}
    <p>Nothing here</p>
{%endfor%}

{%include 'pagination2.html'%}

{%endblock content%}