{% extends "base.html" %}
{% block content %}
<div id="auth_wrapper">
  <div id="auth_header" class='col-xs-12 col-md-6'>
    <img src="/media/logo.png" alt="Likelist logo">
    <h1>LikeList</h1>
  </div>

  <form method="POST" class='col-xs-12 col-md-6' enctype="multipart/form-data" id="auth_form">
    <h2>Sign in</h2>
  {% if form.errors %}
  {{form.errors}}
    <p>Password/Username doesn't match.</p>
  {% endif %}
    {% csrf_token %}
    {{form.as_p}}
    <button type="Submit" class="btn btn-success">Login</button>
  </form>
</div>
{% endblock %}
