<a class="generic_card_link" href={{obj.get_absolute_url}}>
    <div class="col-xs-12 col-sm-6 generic_card_wrapper">
        <div class="generic_card">
            <div class="generic_card_text col-xs-8">
                <h2>{{obj.name}}</h2>
                <div>
                    <p class="generic_card_info2">{{obj.get_read_status_display}}</p>
                    <p class="generic_creator">
                        Created by {{obj.owner}}
                    </p>
                </div>
            </div>
            <div class="generic_card_img col-xs-4">
                {%if request.user.is_authenticated%}
                    {%if request.user == obj.owner%}
                    <span class="generic_rank">
                        {%if obj.rank%}
                            <span class="glyphicon glyphicon-flash"></span> {{obj.get_rank_display}}
                        {%endif%}
                    </span>
                    {%endif%}
                {%endif%}
                <img src="{{obj.cover}}" alt="{{obj.name}} poster">
            </div>
        </div>
    </div>
</a>