<a class="generic_card_link" href={{obj.get_absolute_url}}>
        <div class="col-xs-12 col-sm-6 generic_card_wrapper">
            <div class="generic_card">
                <div class="generic_card_text col-xs-8">
                    <h2>{{obj.name}}</h2>
                    <div>
                        <p class="generic_card_info1">
                        {%for g in obj.genre.all%}
                            <span class="generic_genre">{{g.name}}</span>
                        {%endfor%}
                        </p>
                        <p class="generic_card_info2">{{obj.year}}</p>
                        <p class="generic_creator">
                            Created by {{obj.owner}}
                        </p>
                    </div>
                </div>
                <div class="generic_card_img col-xs-4">
                    {%if request.user.is_authenticated%}
                        {%if request.user == obj.owner%}
                        <span class="generic_rank">
                            {%if obj.rank%}
                                <span class="glyphicon glyphicon-flash"></span> {{obj.get_rank_display}}
                            {%endif%}
                        </span>
                        {%endif%}
                    {%endif%}
                    <img src="{{obj.poster}}" alt="{{obj.name}} poster">
                </div>
            </div>
        </div>
    </a>