<style>
    {%load static%}
    /*FONTS USED IN THIS WEBSITE*/
    @font-face {
        font-family: 'Roboto Thin';
        src: url('{% static "fonts/Roboto-Thin.ttf" %}') format('truetype');
    }
    @font-face {
        font-family: 'Roboto';
        src: url('{% static "fonts/Roboto.ttf" %}') format('truetype');
    }
    @font-face {
        font-family: 'Lemon';
        src: url('{% static "fonts/Lemon.ttf" %}') format('truetype');
    }
    @font-face {
        font-family: 'Comfortaa';
        src: url('{% static "fonts/Comfortaa.ttf" %}') format('truetype');
    }
</style>

<style>
    .navbar-header, .navbar-collapse{
        background: #121212;
        color: #4abaff;
    }
    .navbar-brand{
        padding: 0;
        transform: scale(.8);
    }
    .navbar-toggle {
        background: linear-gradient(to left, #1f1f1f66, #5b589e61);
        border-color: transparent;
    }
    .container{
        padding-right: 2px;
        padding-left: 2px;
        margin-top: 1em;
        margin-bottom: 15em;
    }
    .icon-bar{
        background: #fff;
    }
    .nav>li>a:focus, .nav>li>a:hover, nav .open>a{
        text-decoration: none;
        background: linear-gradient(to right,#827eda, #35338c);
    }
    .navbar-nav>li>a{
        font-size: 1.4em;
    }
    .dropdown-menu {
        background-color: #4f505a;
    }
    .dropdown-menu>li>a{
        color: #fff;
    }
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        background-color: #2621218a;
        color: #fff;
    }
    .navbar-fixed-top .navbar-collapse{
        max-height: max-content;
    }
    #logout a:hover{
        background: linear-gradient(to right,#973e5b, #754149)!important;
    }
    #ui-datepicker-div{
        transform: scale(1.35);
        background: #1f1f1f;
        box-shadow: 2px 5px 5px 1px #7c797985;
    }
    .ui-datepicker-header{
        background: #1f1f1f;
    }
    .ui-datepicker-header select{
        color: #827eda;
    }
    .ui-datepicker th{
        color: #fff;
    }
    .ui-state-default{
        border: 1px solid transparent!important;
        background: #121212!important;
        font-weight: 700;
        color: #4abaff!important;
    }
    .step-links{
        color: blanchedalmond;
    }
    .step-links a{
        color: #4abaff;
    }
    form ul, .helptext{
        color: #d1b9d6;
        background: #3a3a3c26;
        font-size: 1.1em;
        list-style-type: upper-roman;
    }
    .helptext{
        padding: 0 8px;
    }
    .btn-success, .btn-success:active, .btn-success:focus{
        background: linear-gradient(to right,#527e6f, #1d525c);
        transition: .2s ease-out;
    }
    .btn-success:hover{
        background: linear-gradient(to right,#4e7065, #223a3f);
    }
    .chosen-choices{
        background: rgba(111, 123, 233, 0.133)!important;
    }
    .chosen-choices input{
        color: #fff!important;
    }
    .chosen-drop{
        background: #2c2c35!important;
        color: #fff;
    }
    .search-choice{
        background: #0074a6!important;
        outline: 0;
        border-color: transparent;
    }
    .search-choice span{
        color: #fff;
    }
    .result-selected{
        color: #444!important;
    }
</style>
<style>
    html {
        min-height: 100%;
        position: relative;
    }
    body{
        background: #222;
        color: #eee;
        font-size: 1.2rem;
        font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h1{
        font-family: 'Lemon', cursive;
    }
    a, a:hover, a:active, a:focus, a:visited{
        color: #fff;
    }
    input, select, textarea, option, button{
        color: #222;
        background: #fff;
        min-height: 3em;
        font-size: 1.25em;
        margin-left: 10px;
        border-color: transparent;
        outline: 0;
    }
    input, select, textarea{
        color: #fff;
        background: rgba(111, 123, 233, 0.133);
        padding: 0px 5px;
        letter-spacing: 1px;
    }
    input:focus, textarea:focus, select:focus{
        border: 2px solid #4abaff;
    }
    input{
        font-weight: bold;
    }
    input[type='checkbox']{
        width: 1em;
    }
    button{
        background: linear-gradient(to right,#827eda, #35338c);
    }
    form p{
        display: flex;
        flex-flow: column;
        align-items: stretch;
        padding: 3px 0;
    }
    form a{
        color: #4abaff;
    }
    label{
        padding-bottom: 4px;
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.3em;
        color: blanchedalmond;
        letter-spacing: 1px;
    }
    #private{
        display: inline-block;
        border-radius: 4px;
        padding: 1px 6px;
        line-height: 16px;
        font-size: 14px;
        background: #553b3b;
    }
    #things_heading h1, #generic_list_heading h1{
        letter-spacing: 1px;
        color: transparent;
        background-color: white;
        background: linear-gradient(to right, #c6ffdd 15%, #fbd786 47%, #f7797d 60%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: inline-block;
    }
    #generic_heading{
        font-size: 4em;
        font-family: 'Lemon', display;
        letter-spacing: 1px;
        color: transparent;
        background-color: white;
        background: linear-gradient(to right,#ff8a00 15%, #f7797d 45%, #da1b60 60%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        margin-bottom: .75em;
    }
    .generic_card_link{

    }
    .generic_card_wrapper{
        margin: 1em 0;
        padding: .4em;
    }
    .generic_card{
        height: 10.5em;
        padding-left: .5em;
        overflow: hidden;
        border:1px solid rgb(115, 216, 247);
    }
    .generic_card_text{
        display: flex;
        flex-flow: column;
        padding-left: 5px;
        padding-right: 5px;
    }
    .generic_card_text h2{
        font-size: 1.8em;
    }
    .generic_card_text h2 i{
        margin-left: 5px;
        margin-bottom: 1px;
    }
    .generic_card_img{
        padding: 0;
        height:100%;
    }
    .generic_card_img img{
        width:100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
     }
    #generic_img_link{
        text-align: center;
        background: #222;
        font-size: 1.4em;
        padding: 3px 1px;
        margin-bottom: 0;
    }
    #generic_img_link:hover{
        color: #2fe;
    }
    .generic_rank{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 4px;
        font-size: 1.65em;
        background: rgba(0, 0, 0, 0.133);
        color: #fc3;
        font-family: 'Roboto Thin', Georgia, garamond, serif;
    }
    #generic_rank{
        padding: .25em .75em;
        background: #3c084d;
        color: #fc3;
        border: 1px solid #fc3;
        font-style: italic;
        font-family: 'Roboto Thin', Georgia, garamond, serif;
        font-size: 1.9em;
        display: inline-block;
    }
    .generic_card_info1, .generic_card_info2{
        display: inline-block;
        padding: 1px 4px;
        border-radius: 5px;
    }
    .generic_card_info1{
        border: 1px solid #fff;
    }
    .generic_card_info2{
        background: rgba(111, 123, 233, 0.133);
    }
    .generic_country{
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
    .generic_country span{
        padding: 0 8px;
        font-family: 'Comfortaa', display;
        font-size: 1.6em;
    }
    .generic_card_more{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 6.5em;
        text-align: center;
        color: #8ba4b3!important;
        font-family: 'Lemon', display;
        font-size: 2em;
    }
    .generic_card_more:hover{
        text-decoration: none;
        color: #81cefd!important;
    }
    .generic_card_more span{
        padding: 0 8px;
    }
    #generic_extra {
        display: block;
        width: 100%;
        padding: 1em;
    }
    #generic_img{
        padding-right: 0px;
        padding-left: 0px;
        background: linear-gradient(to top, #df1098 10%, #15769f 65%);
        padding: 2px;
        transition: all 2s ease;
    }
    #generic_img:hover{
        background: linear-gradient(to top, #df10977e 10%, #15769f7e 65%);
    }
    #generic_img img{
        width:100%;
        height:500px;
        object-fit:cover;
        object-position: top;
        transition: object-fit 1s ease-in;
    }
    #generic_img img:hover{
        box-shadow: 2px 2px 6px 1px #487b777e;
    }
    #generic_empty{
        text-align: center;
    }
    #generic_empty img{
        width: 100%;
        height: 200px;
        object-fit: contain;
        opacity: .6;
    }
    .generic_edit{
        background: #ddd;
        min-height: 2em;
        border-radius: 6px;
    }
    .generic_edit a{
        color: #222;
    }
    .subset_link{

    }
    .back_button, .delete_button{
        background: #15769f;
        color: #fff;
        font-family: 'Comfortaa';
    }
    .generic_creator{
        color: #aaa;
    }
    .generic_section .col-xs-12 a, .add_more{
        background: #15769f;
        padding: 3px 8px;
        line-height: 1.6em;
        border-radius: .8em;
    }
    .generic_section h2{
        margin-bottom: .5em;
    }
    .generic_section{
        margin-bottom: 1.2em;
    }
    .generic_subset_link{
        margin-left: 2em;
        display: inline-block;
        border-radius: 1em;
        background: #3d5661;
    }
    .generic_subset_link h3{
        font-size: 1.3em;
    }
    /*footer*/
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: auto;
        font-size: 14px;
        width: 100%;
        overflow: hidden;
        padding: 10px 30px;
        background: #2c2c35!important;
        padding-top: 20px;
    }
    footer *{
        text-align: center;
    }
    .fa-heart{
        color: #9c88dc;
    }
    .fa-code{
        color:deepskyblue;
    }
</style>