<style>
    .navbar-header, .navbar-collapse{
        background: #121212;
        color: #4abaff;
    }
    .navbar-brand{
        padding: 0;
        transform: scale(.8);
    }
    .navbar-toggle {
        background: linear-gradient(to left, #1f1f1f, #827eda)
    }
    .nav>li>a:focus, .nav>li>a:hover, nav .open>a{
        text-decoration: none;
        background-color: #827eda!important;
    }
    .dropdown-menu {
        background-color: #4f505a;
    }
    .dropdown-menu>li>a{
        color: #fff;
    }
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        background-color: #2621218a;
        color: #fff;
    }
    #ui-datepicker-div{
        transform: scale(1.35);
        background: #1f1f1f;
        box-shadow: 2px 5px 5px 1px #7c797985;
    }
    .ui-datepicker-header{
        background: #1f1f1f;
    }
    .ui-datepicker-header select{
        color: #827eda;
    }
    .ui-datepicker th{
        color: #fff;
    }
    .ui-state-default{
        border: 1px solid transparent!important;
        background: #121212!important;
        font-weight: 700;
        color: #4abaff!important;
    }
</style>
<style>
    body{
        background: #222;
        color: #eee;
        font-size: 1.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    a, a:hover, a:active, a:focus, a:visited{
        color: #fff;
    }
    input, select, textarea, option, button{
        color: #222;
        background: #fff;
        min-height: 3em;
        font-size: 1.25em;
        margin-left: 10px;
        border-color: transparent;
        outline: 0;
    }
    input, select, textarea{
        color: #fff;
        background: rgba(111, 123, 233, 0.133);
        padding: 0px 5px;
        letter-spacing: 1px;
    }
    input:focus, textarea:focus, select:focus{
        border: 2px solid #4abaff;
    }
    input{
        font-weight: bold;
    }
    form p{
        display: flex;
        flex-flow: column;
        align-items: stretch;
        padding: 3px 0;
    }
    form a{
        color: #4abaff;
    }
    label{
        padding-bottom: 4px;
    }
    #things_heading{
        font-size: 3em; 
    }
    .generic_card_link{

    }
    .generic_card_wrapper{

    }
    .generic_card{
        height: 230px;
        overflow: hidden;
        border:1px solid rgb(115, 216, 247);
    }
    .generic_card_text{

    }
    .generic_card_img{

    }
    .generic_card_img img{
        width:100%;
        height:100%;
        object-fit: cover;
        object-position: bottom;
    }
    .generic_edit{
        background: #ddd;
        min-height: 2em;
        border-radius: 6px;
    }
    .generic_edit a{
        color: #222;
    }
    .subset_link{

    }
</style>