<script>
$( ".datepicker" ).datepicker({
    changeMonth: true, 
    changeYear: true, 
    dateFormat: "dd/mm/yy",
    yearRange: "-90:+40",
    defaultDate: new Date(1989, 0, 01)
});
if(document.URL.split('/')[3]=='actor' && document.URL.split('/')[6]=='edit'){
    $('#id_image').parent().find('a').after('<img style="height:300px;object-fit:cover" src="'+$('#id_image').parent().find('a').attr('href')+'">'); //from anchor href to a img src
    $('#id_image').parent().css({
        'border': '1px solid teal',
        'padding': '10px'
    });
    $('#image-clear_id+label').after('&nbsp;Or&nbsp;<br>');
}
</script>