<script>
// activating the datepicker
if((document.URL.split('/')[3]=='add-actor') || (document.URL.split('/')[3]=='actor' && document.URL.split('/')[6]=='edit')){
    $( ".datepicker" ).datepicker({
        changeMonth: true, 
        changeYear: true, 
        dateFormat: "dd/mm/yy",
        yearRange: "-90:+40",
        defaultDate: new Date(1989, 0, 01)
    });
}

// activating the chosen
if((document.URL.split('/')[3]=='add-movie') || (document.URL.split('/')[3]=='movie' && document.URL.split('/')[6]=='edit') || (document.URL.split('/')[3]=='add-tvshow') || (document.URL.split('/')[3]=='tvshow' && document.URL.split('/')[6]=='edit')){
    $('#id_genre').chosen({rtl: true});
    $('#id_genre_chosen').css('width','100%');
    $('#id_starring').chosen({rtl: true});
    $('#id_starring_chosen').css('width','100%');
}

// onclick filters in actors list page
if(document.URL.split('/')[3]=='actors'){
    $('#latest').click(function(){
        window.location.href='/actors/latest';
    });
    $('#oldest').click(function(){
        window.location.href='/actors/oldest';
    });
}

// selecting inputs with required & updating the DOM
var x =$('input,textarea,select').filter('[required]:visible');
for(i=0;i<x.length;i++){
    x[i].after("This field is required");
}

// adding a border in the update page
if(document.URL.split('/')[3]=='actor' && document.URL.split('/')[6]=='edit'){
    $('#id_image').parent().find('a').after('<img style="height:300px;object-fit:cover;    object-position: 0 -60px;" src="'+$('#id_image').parent().find('a').attr('href')+'">'); //from anchor href to a img src
    $('#id_image').parent().css({
        'border': '1px solid teal',
        'padding': '10px'
    });
    $('#image-clear_id+label').after('&nbsp;Or&nbsp;<br>');
}

// removing the 'likelist' from signin and signup navbars
if(document.URL.split('/')[3]=='login' || document.URL.split('/')[3]=='join'){
    $('.navbar-header').addClass('remove_this');
    $('.container').css('background', 'transparent');
}

// get the location button
$('#id_location').attr('readonly', true);
$('#id_location').after('<button type="button" id="get_location">Your Location</button>');
$('#get_location').click(function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
});

function showPosition(position) {
  var pos = position.coords.latitude + 
  " " + position.coords.longitude;
  $('#id_location').val(pos);
  var html = '<a id="open_maps" target="_blank" href="https://www.google.com/maps/place/' + pos + '">Open Maps</a>';
  $('#get_location').after(html);
}

function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      x.innerHTML = "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML = "Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML = "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML = "An unknown error occurred."
      break;
  }
}
</script>