<nav>
    <div class="navbar navbar-fixed-top" style= "    box-shadow: 3px -2px 10px 1px #0000004f;">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sitenav">
            <span class="icon-bar"></span>
            <span style="width: 27px;" class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="/"><img src="/media/logo.png" width="64px;"></a>
      </div>
      <div class="navbar-collapse collapse" id="sitenav">
        <ul class="nav navbar-nav" style="padding-top: 8px;">
            <li class="dropdown" id="actors_dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Actors <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">              
                <li><a href="{%url 'things:new_actor'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a></li>
                <li><a href="{%url 'things:actors'%}"><i class="fa fa-list" aria-hidden="true"></i> View List</a></li>
                </ul>
            </li>
            <li class="dropdown" id="musicians_dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Musicians <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
              <ul class="dropdown-menu">              
              <li><a href="{%url 'things:new_musician'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a></li>
              <li><a href="{%url 'things:musicians'%}"><i class="fa fa-list" aria-hidden="true"></i> View List</a></li>
              </ul>
            </li>
            <li class="dropdown" id="songs_dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Songs <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">              
                <li><a href="{%url 'things:new_song'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a></li>
                <li><a href="{%url 'things:songs'%}"><i class="fa fa-list" aria-hidden="true"></i> View List</a></li>
                </ul>
            </li>
            <li class="dropdown" id="books_dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Books <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">              
                <li><a href="{%url 'things:new_book'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a></li>
                <li><a href="{%url 'things:books'%}"><i class="fa fa-list" aria-hidden="true"></i> View List</a></li>
                </ul>
            </li>
            <li class="dropdown" id="movies_dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Movies <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">              
                <li><a href="{%url 'things:new_movie'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a></li>
                <li><a href="{%url 'things:movies'%}"><i class="fa fa-list" aria-hidden="true"></i> View List</a></li>
                </ul>
            </li>
            <li class="dropdown" id="tvshows_dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                TV <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">              
                <li><a href="{%url 'things:new_tvshow'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a></li>
                <li><a href="{%url 'things:tvshows'%}"><i class="fa fa-list" aria-hidden="true"></i> View List</a></li>
                </ul>
            </li>
            <li class="dropdown" id="animes_dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Anime <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">              
                <li><a href="{%url 'things:new_anime'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a></li>
                <li><a href="{%url 'things:animes'%}"><i class="fa fa-list" aria-hidden="true"></i> View List</a></li>
                </ul>
            </li>
            <li class="dropdown" id="vehicles_dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Vehicles <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">              
                <li><a href="{%url 'things:new_vehicle'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a></li>
                <li><a href="{%url 'things:vehicles'%}"><i class="fa fa-list" aria-hidden="true"></i> View List</a></li>
                </ul>
            </li>
        </ul>
  
        <ul class="nav navbar-nav navbar-right"> <!-- links for the logged in user -->
          {%if request.user.is_authenticated%}
            <li id="username">
                <a href="{%url 'things:profile' request.user %}"><i class="fa fa-user" aria-hidden="true"></i> {{request.user}}</a>
            </li>
            <li class="right" id="logout"><a href="/logout/"><small>Logout <i class="fa fa-sign-out" aria-hidden="true"></i></small></a></li>
          {%else%}
            <li id="auth"><p><a href="/login/">Login</a>&nbsp;<a href="/join/">Register</a></p></li>
          {%endif%}
        </ul>
      </div>
    </div>
  </nav>