{% if is_paginated %}
<div class="pagination col-xs-12">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;previous</a>
        {% endif %}
        <span class="current">
            <strong>page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</strong>
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next&gt;&gt;</a>
        {% endif %}
    </span>
</div>
{% endif %}